
body {
    background-color: #6C7A89;
    margin: 0px;
    color: #fff;
}

form{
    margin-top: 40px;
    text-align: center;
}

.titulo{
    font-family: 'ABeeZee';
    font-size: 30px;
    padding: 30px;
}

.form-control{
    width: 50%;
    border-radius: 30px;
    margin: 0 auto;
}



table{
    margin-top: 40px;
    border-radius: 20px;
    width: 50%;
    background-color: #6C7A89;
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #6C7A89;
}

.btn-default{
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}